<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add</title>
</head>
<body>
<form th:method="POST" th:action="@{/add}" th:object="${add}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name">
  <br/>
  <label for="surName">Enter surName: </label>
  <input type="text" th:field="*{surName}" id="surName">
  <br/>
  <label for="age">Enter age: </label>
  <input type="number" th:field="*{age}" id="age">
  <br/>
  <br/>
  <input type="submit" value="AddUser">
</form>
<br/>
<br/>
<form th:action="@{/}" method="get">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>